<div class="d-flex justify-content-sm-center">
  <div class="flex-row animated fadeIn">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group" role="group" aria-label="First group">
        <button (click)="goToPage(1)" [disabled]="disableLeftButton || disableButtos" class="btn btn-secondary" type="button" onclick="this.blur();">
          <i class="fa fa-angle-double-left"></i>
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="First group">
        <button (click)="changePage(-1)" [disabled]="disableLeftButton || disableButtos" class="btn btn-secondary ms-1 me-1" type="button" onclick="this.blur();">
          <i class="fa fa-angle-left"></i>
        </button>
      </div>
      <!--btn-center class to show where is the page that the user is currently on-->
      <div *ngFor="let page of totalPagesArray" class="btn-group" role="group" aria-label="Second group">
        <button *ngIf="calculatePageToShow(page)"
        type="button" class="btn btn-secondary ms-1 me-1" (click)="goToPage(page)" onclick="this.blur(); "[disabled]="page == (currentPage + 1) || disableButtos" [ngClass]="{'btn-current': page == (currentPage + 1)}">{{page}}</button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button (click)="changePage(1)" [disabled]="disableRightButton || disableButtos" class="btn btn-secondary ms-1 me-1" type="button" onclick="this.blur();">
          <i class="fa fa-angle-right"></i>
        </button>
      </div>
      <div class="btn-group" role="group" aria-label="Third group">
        <button (click)="goToPage(totalPagesArray.length)" [disabled]="disableRightButton || disableButtos" class="btn btn-secondary" type="button" onclick="this.blur();">
          <i class="fa fa-angle-double-right"></i>
        </button>
      </div>
    </div>  
  </div>
</div>