
<div *ngIf="loading" class="alert alert-info text-center" role="alert">
    <h4 class="alert-heading">Loading...</h4>
    <p>
        <i class="fa fa-sync fa-spin -fa-2x"></i>
    </p>
</div>


<div *ngIf="error" class="alert alert-danger text-center" role="alert">
    <h4 class="alert-heading">Error</h4>
    <pre>
        {{error | json}}
    </pre>
</div>


<div *ngIf="!loading" class="row">
    <div *ngFor="let user of users" class="col-4 mt-3 mb-3">
        <div class="card" style="width: 18rem;">
            <img [src]="user.avatar" class="card-img-top" alt="...">
            <h5 class="card-title text-center">{{user.first_name}} {{user.last_name}}</h5>
            <div class="card-body">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Ducimus labore a distinctio eos expedita dolorem minus ad earum.
                </p>
                <span class="text-muted">ID: {{user.id}}</span>
            </div>
        </div>
    </div>
</div>
<app-paginator
    [disableButtos]="loading"
    [totalRecords]="totalUsers"
    [recordsPerPage]="recordsPerPage"
    (sendPaginator)="changePage($event)"
>
</app-paginator>